body{
    margin: 0;
    font-family: 'Opens Sans', sans-serif;
    line-height: 1.4;
}

img{
    max-width: 100%;
}
/* 
.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1400px;
} */

.button{
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 15px;
    display: inline-block;
    color: white;
}

.button:hover{
    background-color: #929da5;
    transition: background 0.5s;
}

.button-primary{
    background-color: #000000;
}

.button-secundary{
    background-color: #455357;
}

.header{
    width: 100%;
}

.js .header{
    width: 100%;
    z-index: 10;
}

.logo-text{
    text-transform: uppercase;
    background-color: #000000;
    font-size: 24px;
    margin: 0;
    padding: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    float: left;
    text-align: right;
}

.header__nav{
    clear: left;
/*    display: block;*/
/*    margin: 30px;*/
}

.header__nav ul{
    margin: 0px;
    padding: 0;
}


.header__nav li{
    list-style-type: none;
    background: #242c2c;
    text-align: center;
    border-bottom: 1px dotted rgba(255,255,255,0.2);
}
.header__nav a{
    text-transform: uppercase;
    color: #586165;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 15px 0;
    transition: .5s ease;
}

.header__nav a:hover{
    color: #000000;
}


.header__btnMenu{
    float: right;
    margin: 1.5em;
    background: transparent;
    border: none;
    font-size: 14px;
}

.js .header__nav{
    transition: max-height 1s;
}

.js .quote-slideshow{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
    box-sizing: border-box;
    padding: 0 50px;
    color: white;
}
.js .quote-slideshow figure h2{
    margin-top: 0;
}
.js .quote-slideshow figure{
    opacity: 0;
    transition: 1s opacity;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    box-sizing: border-box;
    margin: 0;
}
.js .quote-slideshow figure.show{
    opacity: 1;
    position: static;
    
}
.js .quote-slideshow .prev, .js .quote-slideshow .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.js .quote-slideshow .prev{
    color: rgb(255, 255, 255);
    left: 10px;
}
.js .quote-slideshow .next{
    right: 10px;
}


.hero{
    height: 80vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: 
        linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 20px) bottom no-repeat,
        linear-gradient(-45deg, white 50%, transparent 50%) left calc(50% - 20px) bottom no-repeat, 
        url(../img/Santana-netflix.jpg);
    background-size: 40px 40px, 40px 40px, cover;
}

.hero__title{
    background-color: #000000;
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
    text-transform: uppercase;
}

.hero__text{
    background-color: #242a2c;
    margin: 5px 30px 35px;
    color: white;
    padding: 15px;
    font-size: 16px;
}

.hero__btn{
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}



/* .content{
    background: #f8f9f9;
    padding: 20px 0 80px;
    border-top: 1px solid #e3e3e3;
}

.content h3{
    color: #737c85;
    font-size: 21px;
    padding-top: 20px;
    font-weight: 500;
}

.content p{
    color: #929da5;
    font-size: 14px;
    word-spacing: 5px;
} */

.quote-container{
    background-color: #000000;
    padding: 50px 0;
    border-bottom: 12px solid #ffffff;
}

.quote-slideshow h2{
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}

.quote-slideshow figcaption{
    color: white;
    font-size: 18px;
    text-align: center;
}

.no-js .quote-slideshow figure + figure{
    margin-top: 5em;
}


.footer{
    background-color: #242a2c;
    padding: 50px 0 250px;
    color: #454e51;
    font-size: 14px;
}

.footer__links{
    list-style: none;
}

.footer__links a{
    color: #454e51;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.footer-logo{
    text-transform: uppercase;    
}

@media screen and (min-width: 1025px){
    .header{
        position: fixed;
    }
    
    .logo-text{
        width: 25%;
/* border box para o paddin nao somar ao elemento */
        box-sizing: border-box;
    }
    
    .header__btnMenu{
        display: none;
    }
    
    .header__nav{
        float: left;
        width: 75%;
        clear: none;
        max-width: 800px;
    }
    
    .header__nav ul{
        display: flex;
        justify-content: space-around;
    }
    
    .header__nav li{
        border-bottom: none;
/*  flex-grow = tirou o espaço sobrando entre as li    */
        flex-grow: 1;
    }
    
    
    .header__nav a{
        background: white;
    }
    
/*     
    .content .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
     */
    .last-articles__thumbs{
        grid-template-columns: repeat(6, 1fr);
    }
    .footer .container{
        display: flex;
    }
/*   seletor uiniversal para filhos diretos da classe */
    .footer .container > *{
        margin: 1.5em;
    }
    
}